.ipad9thgen-container {
  min-height: 100vh;
}
.ipad9thgen-ipad9thgen {
  width: 100%;
  height: 810px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1080px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 1);
}
.ipad9thgen-bg {
  top: -4px;
  left: -4px;
  width: 1098.3106689453125px;
  height: 813.9999389648438px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group {
  top: 0px;
  left: 0px;
  width: 1098.3106689453125px;
  height: 813.9999389648438px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-rectangle {
  top: 4.475341796875px;
  left: 4.46533203125px;
  width: 1094px;
  height: 810px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.ipad9thgen-s-v-g-i-d3 {
  top: 0px;
  left: 0px;
  width: 1098.1966552734375px;
  height: 112.61947631835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group01 {
  top: 0px;
  left: 0px;
  width: 1098.1966552734375px;
  height: 112.61947631835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-vector {
  top: 0px;
  left: 0px;
  width: 1098px;
  height: 113px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector01 {
  top: 0px;
  left: 0px;
  width: 1098px;
  height: 113px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-box {
  top: 1.2652068138122559px;
  left: 2.0451011657714844px;
  width: 1078.839599609375px;
  height: 808.7348022460938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group02 {
  top: 19.744401931762695px;
  left: 174.54127502441406px;
  width: 885.3434448242188px;
  height: 677.6312866210938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group03 {
  top: 0px;
  left: 0px;
  width: 885.3434448242188px;
  height: 677.6312866210938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group04 {
  top: 0px;
  left: 0px;
  width: 885.3434448242188px;
  height: 677.6312866210938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-rectangle1 {
  top: 0px;
  left: 0px;
  width: 885px;
  height: 678px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.ipad9thgen-group05 {
  top: 19.67755126953125px;
  left: 174.78317260742188px;
  width: 885.6998901367188px;
  height: 677.8455200195312px;
  display: flex;
  opacity: 0.50;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group06 {
  top: 0px;
  left: 0px;
  width: 885.6998901367188px;
  height: 677.8455200195312px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-vector02 {
  top: 0px;
  left: 0px;
  width: 886px;
  height: 678px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-group07 {
  top: 281.4002990722656px;
  left: 174.78317260742188px;
  width: 884.9918212890625px;
  height: 53.39492416381836px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group08 {
  top: 0px;
  left: 0px;
  width: 884.9918212890625px;
  height: 53.39492416381836px;
  display: flex;
  opacity: 0.20;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group09 {
  top: 0px;
  left: 0px;
  width: 884.9918212890625px;
  height: 53.39492416381836px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-vector03 {
  top: 0px;
  left: 0px;
  width: 885px;
  height: 53px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-group10 {
  top: 465.1241760253906px;
  left: 160.1069793701172px;
  width: 899.6669311523438px;
  height: 51.598968505859375px;
  display: flex;
  opacity: 0.30;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group11 {
  top: 0px;
  left: 0px;
  width: 899.6669311523438px;
  height: 51.598968505859375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group12 {
  top: 0px;
  left: 0px;
  width: 899.6669311523438px;
  height: 51.598968505859375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-vector04 {
  top: 0px;
  left: 0px;
  width: 900px;
  height: 52px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-footer {
  top: 788.6002807617188px;
  left: 1037.94091796875px;
  width: 37px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.ipad9thgen-text {
  color: rgba(153, 153, 153, 1);
  height: auto;
  margin: 0 0 0 0;
  font-size: 9px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-myjourney {
  top: 635.3173828125px;
  left: 296.2135925292969px;
  width: 191px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.ipad9thgen-text02 {
  color: rgba(51, 51, 51, 1);
  height: auto;
  margin: 0 0 0 0;
  font-size: 35px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-frame6 {
  top: 371.6282958984375px;
  left: 340.41064453125px;
  width: 572px;
  height: 129.3696746826172px;
  display: flex;
  z-index: 6000;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.ipad9thgen-jd11 {
  width: 129px;
  height: 129.3696746826172px;
  margin: 0 92 0 0;
  display: flex;
  padding: 0;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group13 {
  top: 0px;
  left: 0px;
  width: 129.4322967529297px;
  height: 129.3696746826172px;
  display: flex;
  opacity: 0.30;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group14 {
  top: 0px;
  left: 0px;
  width: 129.4322967529297px;
  height: 129.3696746826172px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-vector05 {
  top: 0px;
  left: 0px;
  width: 129px;
  height: 129px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector06 {
  top: 19.876144409179688px;
  left: 19.886367797851562px;
  width: 90px;
  height: 90px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-text04 {
  top: 43.829254150390625px;
  left: 55.04466247558594px;
  color: rgba(77, 20, 140, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-text05 {
  top: 29.209606170654297px;
  left: 51.16849899291992px;
  color: rgba(77, 20, 140, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-vector07 {
  top: 85.26104736328125px;
  left: 57.33356475830078px;
  width: 15px;
  height: 15px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector08 {
  top: 7.293938159942627px;
  left: 7.297171115875244px;
  width: 115px;
  height: 115px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-jd13 {
  width: 129px;
  height: 129.3696746826172px;
  margin: 0 92 0 0;
  display: flex;
  padding: 0;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group15 {
  top: 0px;
  left: 0px;
  width: 129.43276977539062px;
  height: 129.3696746826172px;
  display: flex;
  opacity: 0.30;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group16 {
  top: 0px;
  left: 0px;
  width: 129.43276977539062px;
  height: 129.3696746826172px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-vector09 {
  top: 0px;
  left: 0px;
  width: 129px;
  height: 129px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector10 {
  top: 19.876205444335938px;
  left: 19.885433197021484px;
  width: 90px;
  height: 90px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-group17 {
  top: 7.293938159942627px;
  left: 7.298198223114014px;
  width: 114.83740997314453px;
  height: 114.7813720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-text07 {
  top: 36.535308837890625px;
  left: 47.746612548828125px;
  color: rgba(147, 45, 162, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-text08 {
  top: 21.915660858154297px;
  left: 43.87093734741211px;
  color: rgba(147, 45, 162, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-vector11 {
  top: 77.96710205078125px;
  left: 50.03600311279297px;
  width: 15px;
  height: 15px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector12 {
  top: 0px;
  left: 0px;
  width: 115px;
  height: 115px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-jd151 {
  width: 129px;
  height: 129.3696746826172px;
  display: flex;
  padding: 0;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group18 {
  top: 0px;
  left: 0px;
  width: 129.43276977539062px;
  height: 129.3696746826172px;
  display: flex;
  opacity: 0.30;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group19 {
  top: 0px;
  left: 0px;
  width: 129.43276977539062px;
  height: 129.3696746826172px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-vector13 {
  top: 0px;
  left: 0px;
  width: 129px;
  height: 129px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector14 {
  top: 19.876205444335938px;
  left: 19.885446548461914px;
  width: 90px;
  height: 90px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-group20 {
  top: 7.293938159942627px;
  left: 7.297966480255127px;
  width: 114.83740997314453px;
  height: 114.7813720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-text10 {
  top: 36.535308837890625px;
  left: 47.74662399291992px;
  color: rgba(199, 71, 85, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-text11 {
  top: 21.915660858154297px;
  left: 43.870948791503906px;
  color: rgba(199, 71, 85, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-vector15 {
  top: 77.96710205078125px;
  left: 50.036014556884766px;
  width: 15px;
  height: 15px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector16 {
  top: 0px;
  left: 0px;
  width: 115px;
  height: 115px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-frame61 {
  top: 482.7239990234375px;
  left: 451.03369140625px;
  width: 576px;
  height: 129.3696746826172px;
  display: flex;
  z-index: 6000;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.ipad9thgen-jd12 {
  width: 129px;
  height: 129.3696746826172px;
  margin: 0 94 0 0;
  display: flex;
  padding: 0;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group21 {
  top: 0px;
  left: 0px;
  width: 129.4322967529297px;
  height: 129.3696746826172px;
  display: flex;
  opacity: 0.30;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group22 {
  top: 0px;
  left: 0px;
  width: 129.4322967529297px;
  height: 129.3696746826172px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-vector17 {
  top: 0px;
  left: 0px;
  width: 129px;
  height: 129px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector18 {
  top: 19.876070022583008px;
  left: 19.885900497436523px;
  width: 90px;
  height: 90px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-group23 {
  top: 7.293865203857422px;
  left: 7.297438621520996px;
  width: 114.8373794555664px;
  height: 114.7813720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-text13 {
  top: 36.53535842895508px;
  left: 47.74732208251953px;
  color: rgba(125, 34, 195, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-text14 {
  top: 21.9156494140625px;
  left: 43.87115478515625px;
  color: rgba(125, 34, 195, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-vector19 {
  top: 77.96702575683594px;
  left: 50.03622055053711px;
  width: 15px;
  height: 15px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector20 {
  top: 0px;
  left: 0px;
  width: 115px;
  height: 115px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-jd14 {
  width: 129px;
  height: 129.3696746826172px;
  margin: 0 94 0 0;
  display: flex;
  padding: 0;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group24 {
  top: 0px;
  left: 0px;
  width: 129.43276977539062px;
  height: 129.3696746826172px;
  display: flex;
  opacity: 0.30;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group25 {
  top: 0px;
  left: 0px;
  width: 129.43276977539062px;
  height: 129.3696746826172px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-vector21 {
  top: 0px;
  left: 0px;
  width: 129px;
  height: 129px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector22 {
  top: 19.876070022583008px;
  left: 19.885560989379883px;
  width: 90px;
  height: 90px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-group26 {
  top: 7.293865203857422px;
  left: 7.2983269691467285px;
  width: 114.83740997314453px;
  height: 114.7813720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-text16 {
  top: 36.53535842895508px;
  left: 47.746253967285156px;
  color: rgba(166, 54, 133, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-vector23 {
  top: 77.96702575683594px;
  left: 50.03564453125px;
  width: 15px;
  height: 15px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector24 {
  top: 0px;
  left: 0px;
  width: 115px;
  height: 115px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-text17 {
  top: 29.20953369140625px;
  left: 51.16916275024414px;
  color: rgba(166, 54, 133, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-jd16 {
  width: 129px;
  height: 129.3696746826172px;
  display: flex;
  padding: 0;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group27 {
  top: 0px;
  left: 0px;
  width: 129.43284606933594px;
  height: 129.3696746826172px;
  display: flex;
  opacity: 0.30;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group28 {
  top: 0px;
  left: 0px;
  width: 129.43284606933594px;
  height: 129.3696746826172px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-vector25 {
  top: 0px;
  left: 0px;
  width: 129px;
  height: 129px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector26 {
  top: 19.876070022583008px;
  left: 19.885295867919922px;
  width: 90px;
  height: 90px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-group29 {
  top: 7.293865203857422px;
  left: 7.297569751739502px;
  width: 114.83740997314453px;
  height: 114.7813720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-text19 {
  top: 36.53535842895508px;
  left: 47.74720764160156px;
  color: rgba(255, 98, 0, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-text20 {
  top: 21.9156494140625px;
  left: 43.87153244018555px;
  color: rgba(255, 98, 0, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-vector27 {
  top: 77.96702575683594px;
  left: 50.036598205566406px;
  width: 15px;
  height: 15px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-vector28 {
  top: 0px;
  left: 0px;
  width: 115px;
  height: 115px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-frame {
  top: 68.49705505371094px;
  left: 246.1719512939453px;
  width: 155px;
  height: 43px;
  margin: 0 0 0 0;
  z-index: 8000;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-frame25 {
  top: 29.6524658203125px;
  left: 981.029052734375px;
  width: 59px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.ipad9thgen-group30 {
  width: 32px;
  height: 29.190534591674805px;
  margin: 0 23 0 0;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-text22 {
  top: 8.129778861999512px;
  left: 0.00007147633004933596px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Font Awesome 6 Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-group3 {
  top: 0px;
  left: 12.8251953125px;
  width: 18.963977813720703px;
  height: 18.954721450805664px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-vector29 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-text23 {
  top: 2.4095458984375px;
  left: 6.258056640625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-vector30 {
  width: 4px;
  height: 20px;
  margin: 0 0 0 0;
  position: relative;
  box-sizing: border-box;
}
.ipad9thgen-message {
  top: 296.5054931640625px;
  left: 293.9964294433594px;
  width: 768px;
  height: 25.0986270904541px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  flex-direction: column;
}
.ipad9thgen-group31 {
  width: 768px;
  height: 25.0986270904541px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-vector31 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  margin: 0 0 0 0;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-text24 {
  top: 1.4945068359375px;
  left: 33.003662109375px;
  color: rgba(51, 51, 51, 1);
  height: auto;
  margin: 0 0 0 0;
  z-index: 7000;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-frame26 {
  top: 134.12353515625px;
  left: 246.052978515625px;
  width: 786px;
  display: flex;
  z-index: 7000;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.ipad9thgen-heading1 {
  margin: 0 272 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.ipad9thgen-vector32 {
  width: 3px;
  height: 98px;
  margin: 0 22 0 0;
  position: relative;
  box-sizing: border-box;
}
.ipad9thgen-group32 {
  width: 208px;
  height: 96.12323760986328px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-text26 {
  left: 0.00024707935517653823px;
  color: rgba(26, 26, 26, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 30.459999084472656px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-text28 {
  top: 30.450368881225586px;
  left: 0.00007987173739820719px;
  color: rgba(26, 26, 26, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 38px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Times New Roman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-text29 {
  top: 30.450368881225586px;
  left: 9.000144004821777px;
  color: rgba(26, 26, 26, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 32.459999084472656px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-text31 {
  top: 76.3787612915039px;
  left: 0.001797160366550088px;
  color: rgba(26, 26, 26, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-rightarea {
  width: 282px;
  height: 126.67325592041016px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-frame1 {
  top: 0px;
  left: 0px;
  display: flex;
  padding: 5px 0;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  flex-direction: column;
}
.ipad9thgen-group4 {
  width: 35px;
  height: 19.328805923461914px;
  margin: 0 0 8 0;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-text33 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Font Awesome 6 Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-text34 {
  top: 1.4271240234375px;
  left: 21.009765625px;
  color: rgba(26, 26, 26, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-text36 {
  color: rgba(77, 20, 140, 1);
  width: 202px;
  height: auto;
  margin: 0 0 8 0;
  z-index: 1;
  font-size: 17px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-vector-stroke {
  width: 100%;
  height: 2px;
  margin: 0 0 0 0;
  z-index: 5;
  position: relative;
  box-sizing: border-box;
}
.ipad9thgen-group5 {
  width: 95px;
  height: 19.328927993774414px;
  margin: 0 0 8 0;
  display: flex;
  padding: 0;
  z-index: 2;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-text38 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Font Awesome 6 Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-text39 {
  top: 1.42724609375px;
  left: 23.11669921875px;
  color: rgba(26, 26, 26, 1);
  height: auto;
  margin: 0 0 0 0;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-vector-stroke1 {
  flex: 1;
  width: 100%;
  height: 6px;
  margin: 0 0 8 0;
  z-index: 3;
  position: relative;
  box-sizing: border-box;
}
.ipad9thgen-text41 {
  color: rgba(26, 26, 26, 1);
  width: 50px;
  height: auto;
  margin: 0 0 8 0;
  z-index: 4;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FedEx Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ipad9thgen-image {
  top: 188.5746612548828px;
  left: 2.0451011657714844px;
  width: 303px;
  height: 621.42529296875px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.ipad9thgen-group33 {
  width: 303px;
  height: 621.42529296875px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group34 {
  top: 0px;
  left: 0px;
  width: 303.22698974609375px;
  height: 621.42529296875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-group35 {
  top: 0px;
  left: 0px;
  width: 303.22698974609375px;
  height: 621.42529296875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ipad9thgen-rectangle2 {
  top: -0.0000152587890625px;
  left: -0.000095367431640625px;
  width: 303px;
  height: 621px;
  margin: 0 0 0 0;
  z-index: 9000;
  position: absolute;
  box-sizing: border-box;
}
.ipad9thgen-mainmenu11 {
  top: 0px;
  left: 0px;
  width: 1081px;
  height: 810px;
  margin: 0 0 0 0;
  display: none;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
